@charset "UTF-8";
i.icon {
    display: inline-block;
    height: 1em !important;
    width: 1em !important;
    mask-size: contain !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    background-size: 1em 1em !important;
    background-color: #000000;
}


i.icon.map {
    mask-image: url('map.svg')
}

i.icon.map2 {
    mask-image: url('map2.svg')
}

i.icon.arrowRight {
    mask-image: url('arrowRight.svg')
}

i.icon.arrowDown {
    mask-image: url('arrowDown.svg')
}

i.icon.dot {
    mask-image: url('dot.svg')
}

i.icon.mailOpen {
    mask-image: url('mailOpen.svg')
}

i.icon.mail {
    mask-image: url('mail.svg')
}

i.icon.operator {
    mask-image: url('operator.svg')
}

i.icon.whatsapp {
    mask-image: url('whatsapp.svg')
}

i.icon.instagram {
    mask-image: url('instagram.svg')
}

i.icon.search {
    mask-image: url('search.svg')
}

i.icon.phone {
    mask-image: url('phone.svg')
}

i.icon.cart {
    mask-image: url('cart.svg')
}

i.icon.menu {
    mask-image: url('menu.svg')
}

i.icon.close {
    mask-image: url('close.svg')
}

i.icon.rowLightLeft {
    mask-image: url('rowLightLeft.svg')
}

i.icon.mobBurger {
    mask-image: url('mobBurger.svg')
}

i.icon.labelLogo {
    mask-image: url('labelLogo.svg')
}

i.icon.akb {
    mask-image: url('akb.svg')
}

i.icon.minus-input {
    mask-image: url('minus-input.svg')
}

i.icon.plus-input {
    mask-image: url('plus-input.svg')
}

i.icon.rowLightRight {
    mask-image: url('rowLightRight.svg')
}

i.icon.arrowDown {
    mask-image: url('arrowDown.svg')
}

i.icon.arrowLeft {
    mask-image: url('arrowLeft.svg')
}

i.icon.eraser {
    mask-image: url('eraser.svg')
}

i.icon.setting {
    mask-image: url('setting.svg')
}

i.icon.setting-2 {
    mask-image: url('setting-2.svg')
}

i.icon.search-2 {
    mask-image: url('search-2.svg')
}

i.icon.quality {
    mask-image: url('quality.svg')
}

i.icon.guarantees {
    mask-image: url('guarantees.svg')
}

i.icon.Sort-no {
    mask-image: url('Sort-no.svg')
}

i.icon.Sort-down {
    mask-image: url('Sort-down.svg')
}

i.icon.Sort-up {
    mask-image: url('Sort-up.svg')
}

i.icon.Sort-date {
    mask-image: url('Sort-date.svg')
}

i.icon.check {
    mask-image: url('check.svg')
}

i.icon.no-check {
    mask-image: url('no-check.svg')
}

i.icon.question {
    mask-image: url('question.svg')
}

i.icon.clock {
    mask-image: url('clock.svg')
}

i.icon.eye {
    mask-image: url('eye.svg')
}

i.icon.elevator {
    mask-image: url('elevator.svg')
}

i.icon.ladder {
    mask-image: url('ladder.svg')
}

i.icon.alert {
    mask-image: url('alert.svg')
}

i.icon.instagramColor {
    mask-image: url('instagramColor.svg')
}

i.icon.whatsAppColor {
    mask-image: url('whatsAppColor.svg')
}

i.icon.cardPackage {
    mask-image: url('cardPackage.svg')
}

i.icon.carDelivery {
    mask-image: url('carDelivery.svg')
}

i.icon.simpleUser {
    mask-image: url('simpleUser.svg')
}

i.icon.LegalEntity {
    mask-image: url('LegalEntity.svg')
}

i.icon.payCard {
    mask-image: url('payCard.svg')
}

i.icon.payCard2 {
    mask-image: url('payCard2.svg')
}

i.icon.payMoney {
    mask-image: url('payMoney.svg')
}