@charset "UTF-8";

// Переменные

@red: #F61019;
@gray: #9199A4;
@LightBlue: #EDF3FA;
@green: #0CB61D;

// Конец - Переменные


// Custom scroll

::-webkit-scrollbar { width: 6px; height: 6px; cursor: pointer;}
/* кнопка */
::-webkit-scrollbar-button {  display: none; }
/* трек */
::-webkit-scrollbar-track {  background-color: transparent;  cursor: pointer;}
/* видимая часть трека */
::-webkit-scrollbar-track-piece { background-color: transparent;  cursor: pointer;}
/* ползунок */
::-webkit-scrollbar-thumb { height: 50px;  cursor: pointer; background-color: @gray; border-radius: 30px; cursor: pointer;}
/* уголок */
::-webkit-scrollbar-corner { display: none;}
/* изменение размеров */
::-webkit-resizer { background-color: red; cursor: pointer;}

// Конец - Custom scroll

body {
  font-family: 'bibi';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  outline: none;
  box-sizing: border-box;
  line-height: normal;
}

p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bibi';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.back-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Адаптивный контейнер АСП  */
.fixed-ar {
  position: relative;
  overflow: hidden;
}

.fixed-ar.ar-1-4:before {
  padding-top: 400%;
}

.fixed-ar.ar-1-3:before {
  padding-top: 300%;
}

.fixed-ar.ar-1-2:before {
  padding-top: 200%;
}

.fixed-ar.ar-9-16:before {
  padding-top: 177.77%;
}

.fixed-ar.ar-3-4:before {
  padding-top: 133.33%;
}

.fixed-ar.ar-1-1:before {
  padding-top: 100%;
}

.fixed-ar.ar-4-3:before {
  padding-top: 75%;
}

.fixed-ar.ar-16-9:before {
  padding-top: 56.25%;
}

.fixed-ar.ar-2-1:before {
  padding-top: 50%;
}

.fixed-ar.ar-3-1:before {
  padding-top: 33%;
}

.fixed-ar.ar-3_2-1:before {
  padding-top: 31.25%;
}

.fixed-ar.ar-4-1:before {
  padding-top: 25%;
}

.fixed-ar:before {
  display: block;
  content: " ";
  width: 100%;
}

.fixed-ar>.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.color-red {
  color: @red;
}

// Общий контейнер

.container {
  margin: 0 auto;
  max-width: 1538px;
  width: 100%;
  height: 100%;
}

// Конец - Общий контейнер



// Свойства

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-Vcenter {
  display: flex;
  align-items: center;
}

.flex-Gcenter {
  display: flex;
  justify-content: center;
}

.flex-Gcenter-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

// Конец - Свойства



// ТОП-бар

.top-bar {
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.07);
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-col {
    max-width: 193px;
    width: 100%;

    i.icon.map {
      background-color: @gray;
      margin-right: 10px;
      font-size: 20px;
    }

    .select-btn {

      span {
        color: @red;
        border-bottom: 1px dashed @red;
        width: max-content;
        font-weight: 500;
        padding-bottom: 1px;
      }

      i {
        margin-left: 10px;
        font-size: 10px;
        background-color: @gray;
      }

    }

    .dropdown-content {
      width: auto !important;
      padding: 10px 0;
      max-width: 275px;
      width: 100% !important;
      box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);

      li {
        min-height: initial;

        &:hover {
          background-color: @LightBlue;
        }

        .link-city {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #000;
          font-weight: 500;
          font-size: 15px;
          padding: 10px 30px;

          &:hover {
            background-color: initial;
          }

          &.active {
            color: @red;

            i {
              background-color: red;
            }
          }

          i {
            display: none;
            background-color: transparent;
            float: initial;
            font-size: 6px;
            margin: 0;
          }
        }
      }
    }
  }

  // Сервисное меню
  .service-menu {

    a {
      font-size: 14px;
      color: @gray;
      margin-right: 35px;
      transition: all 0.2s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: @red;
      }
    }
  }
  // Конец - Сервисное меню


  // Контакты и обратная связь
  .right-col.callback {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -50vw;
      height: 100%;
      width: 50vw;
      z-index: 1;
      background-color: @LightBlue;
    }

    .contact-us {
      position: relative;
      padding-left: 25px;
      background-color: @LightBlue;
      height: 100%;
      margin-left: 40px;

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        max-height: 40px;
        border: 20px solid transparent;
        border-right: 0px solid @LightBlue;
        border-bottom: 40px solid @LightBlue;
      }



        .link {
          i {
            margin-right: 20px;
            font-size: 20px;
            background-color: @red;

            &.mailOpen {
              font-size: 24px;
            }
          }

          a {
            font-size: 14px;
            color: #000;
            font-weight: bold;
            border-bottom: 1px dashed @red;
            transition: all 0.2s;

            &:hover {
              color: @red;
            }
          }
        }

      .line {
        width: 1px;
        height: 20px;
        margin: 0 20px;
        background-color: rgba(0,0,0, 0.1);
      }
    }

  //  Соц. сети
    .social-link {

      i {
        font-size: 20px;
        background-color: @gray;

        &.whatsapp:hover {
          background-color: #0DC143;
        }

        &.instagram:hover {
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        }
      }

      .line {
        width: 1px;
        height: 20px;
        margin: 0 20px;
        background-color: rgba(0,0,0, 0.1);
      }
    }

  }
  // Конец - Контакты и обратная связь
}

// Конец - ТОП-бар



// Главная информация

header {
  margin-bottom: 30px;
}

header .index-info .container {
  display: flex;
  padding: 30px 0;

  .logo-link {
    img {
      max-width: 283px;
      min-width: 283px;
      width: 100%;
      height: auto;
      margin-right: 25px;
    }
  }

  .search {
    position: relative;
    width: 100%;
    max-width: 392px;

    input {
      width: calc(100% - 62px);
      height: 47px;
      border: 1px solid #CECECE;
      padding: 0px 10px;
      border-radius: 3px;
      margin: 0;
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 16px;
      padding-right: 50px;

      &:focus {
        box-shadow: none;
        border-bottom-color: @red;
      }

      &::placeholder {
        color: @gray;
        font-weight: 300 !important;
      }

    }

    span {
      content: '';
      position: absolute;
      top: 0;
      right: 20px;
      height: 49px;

      i {
        font-size: 16px;
        background-color: @gray;
      }
    }
  }

  // Контактная информация
  .contact {
    margin-left: 50px;


    i {
      background-color: @red;
      font-size: 25px;
      margin-top: 3px;
      margin-right: 15px;
    }

    .index-text {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 1px;
      white-space: nowrap;
    }

    .low-text {
      font-size: 14px;
      color: @gray;
      line-height: 19px;
      white-space: nowrap;
    }
  }

  .cart-box {
    width: 196px;
    height: 74px;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 50px;
    padding: 0px 23px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    }

    .icon-cart {
      position: relative;
      margin-right: 20px;

      i {
        font-size: 33px;
        background-color: @red;
      }

      .count-purchases {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: -10px;
        top: -9px;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        font-weight: 500;
        font-size: 14px;
        color: @gray;
      }
    }

    .title {
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 2px;
    }

    .price {
      font-size: 14px;
      color: @gray;
    }
  }

}
// Конец - Главная информация



// Навигация

.desktop-nav {
  position: relative;
  width: 100%;
  height: 50px;
  box-shadow: none;
  background: linear-gradient(90.21deg, #2F343A 0.07%, #101511 99.93%);

  a {
    height: 100%;
  }

  .open-catalog {
    background-color: @red;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 264px;

    i {
      background-color: #fff;

      &.menu {
        font-size: 20px;
      }

      &.arrowDown {
        font-size: 10px;
      }
    }

    span {
      color: #fff;
      font-size: 15px;
      margin-left: 20px;
      margin-right: 37px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  .link-nav {
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 0 30px;
    height: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255,255,255, 0.1);
    }

    i {
      background-color: #FFFFFF;
      font-size: 10px;
      margin-left: 10px;
    }

  }

  .dropdown-content {
    top: 50px !important;
    padding: 10px 0;
    width: max-content !important;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);

    li {
      min-height: initial;

      &:hover {
        background-color: @LightBlue;
      }
    }

    a {
      padding: 10px 30px;
      color: #000;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background-color: initial;
      }

      span {
        color: @red;
        font-weight: 600;
      }
    }
  }

  .acceptance-batteries {
    margin-left: auto;
    margin-right: 10px;
    width: 176px;
    background-color: #505050;
    text-align: center;
    transform: skew(-20deg);

    span {
      transform: skew(20deg);
      font-weight: 600;
    }
  }

  .modal.open_catalog {

    width: 100vw;
    height: 100vh;
    max-width: initial;
    max-height: initial;
    color: #000;
    padding: 30px 50px 0 50px;


    .header-modal_catalog {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 100px;

      .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #000000;
      }

      .modal-close {
        justify-content: flex-end;
        text-align: right;
        font-size: 20px;
        font-weight: 500;
        width: max-content;
        margin-left: auto;
        text-transform: none;

        i {
          margin-left: 20px;
        }
      }
    }


    // Контент
    .grid-navigation {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: calc(100vh - 200px);
      overflow: hidden;

      .list-categories {
        border-right: 1px solid #E6E6E6;
        overflow-x: auto;

        &::-webkit-scrollbar-thumb { height: 50px;  cursor: pointer; background-color: transparent; border-radius: 30px; cursor: pointer;}

        .group {
          width: 95%;

          .title {
            position: relative;
            font-size: 25px;
            color: @gray;
            font-weight: bold;
            margin-bottom: 40px;

            &:after {
              content: '';
              position: absolute;
              top: 48px;
              left: 0;
              width: 100%;
              height: 5px;
              background: linear-gradient(90deg, rgba(255,255,255,1) 0%, @red 50%, rgba(255,255,255,1) 100%);
            }
          }

          .list {

            p {
              display: inline-block;
              width: 100%;
              font-size: 30px;
              color: #000000;
              font-weight: bold;
              padding: 17px 30px;
              cursor: pointer;
              transition: all 0.2s;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &:hover {
                background: rgba(0, 0, 0, 0.04);
              }

              span {
                font-size: 25px;
                color: @gray;
                font-weight: 400;
                margin-right: 60px;
                width: 31px;
              }
            }
          }
        }
      }

      .category-preview {
        border-right: 1px solid #E6E6E6;
        padding: 0 50px;

        .title {
          font-size: 25px;
          color: @gray;
          font-weight: bold;
          margin-bottom: 40px;
        }

        .box-prev-img {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
        }

        .photo-cat {
          width: 100%;
          max-width: 430px;
          height: 100%;
          max-height: 340px;
          background-size: cover;
        }
      }

      .manufacturer {
        padding-left: 50px;

        .title {
          font-size: 25px;
          color: @gray;
          font-weight: bold;
          margin-bottom: 40px;
        }

        .group {
          .letter {
            position: relative;
            font-size: 25px;
            font-weight: bold;
            color: @red;
            margin-bottom: 30px;

            &:after {
              content: '';
              position: absolute;
              top: 45px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #ccc;
            }
          }

          .link {

            a {
              display: flex;
              width: 100%;
              color: #000;
              font-size: 18px;
              font-weight: 600;
              padding: 13px 30px;

              &:hover {
                background: rgba(0, 0, 0, 0.04);
              }
            }
          }
        }
      }
    }
  }

}

// Конец - Навигация




// Корзина

.toggle-cart {
  max-width: 1280px;
  width: 100%;
}

// Конец - Корзина








// Мобильное меню ТОП-бар

.mobile-top_bar {
  display: none;
}

// Конец - Мобильное меню ТОП-бар
