@charset "UTF-8";

// Переменные

@red: #F61019;
@gray: #9199A4;
@LightBlue: #EDF3FA;
@green: #0CB61D;
@blackOpacity: rgba(0,0,0, 0.1);

// Конец - Переменные


// Custom scroll

::-webkit-scrollbar { width: 6px; height: 6px; cursor: pointer;}
/* кнопка */
::-webkit-scrollbar-button {  display: none; }
/* трек */
::-webkit-scrollbar-track {  background-color: transparent;  cursor: pointer;}
/* видимая часть трека */
::-webkit-scrollbar-track-piece { background-color: transparent;  cursor: pointer;}
/* ползунок */
::-webkit-scrollbar-thumb { height: 50px;  cursor: pointer; background-color: @gray; border-radius: 30px; cursor: pointer;}
/* уголок */
::-webkit-scrollbar-corner { display: none;}
/* изменение размеров */
::-webkit-resizer { background-color: red; cursor: pointer;}

// Конец - Custom scroll

body {
  font-family: 'bibi';
  margin: 0;
  padding: 0;
  height: 2000px;
  box-sizing: border-box;
}

* {
  outline: none;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bibi';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.back-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Адаптивный контейнер АСП  */
.fixed-ar {
  position: relative;
  overflow: hidden;
}

.fixed-ar.ar-1-4:before {
  padding-top: 400%;
}

.fixed-ar.ar-1-3:before {
  padding-top: 300%;
}

.fixed-ar.ar-1-2:before {
  padding-top: 200%;
}

.fixed-ar.ar-9-16:before {
  padding-top: 177.77%;
}

.fixed-ar.ar-3-4:before {
  padding-top: 133.33%;
}

.fixed-ar.ar-1-1:before {
  padding-top: 100%;
}

.fixed-ar.ar-4-3:before {
  padding-top: 75%;
}

.fixed-ar.ar-16-9:before {
  padding-top: 56.25%;
}

.fixed-ar.ar-2-1:before {
  padding-top: 50%;
}

.fixed-ar.ar-3-1:before {
  padding-top: 33%;
}

.fixed-ar.ar-3_2-1:before {
  padding-top: 31.25%;
}

.fixed-ar.ar-4-1:before {
  padding-top: 25%;
}

.fixed-ar.ar-4-1-slider:before {
  padding-top: 43.9%;
}

.fixed-ar.ar-4-1-banner:before {
  padding-top: 46.9%;
}

.fixed-ar:before {
  display: block;
  content: " ";
  width: 100%;
}

.fixed-ar>.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.color-red {
  color: @red;
}

// Общий контейнер

.container {
  margin: 0 auto;
  max-width: 1538px;
  width: 100%;
  height: 100%;
}

// Конец - Общий контейнер



// Свойства

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-Vcenter {
  display: flex;
  align-items: center;
}

.flex-Gcenter {
  display: flex;
  justify-content: center;
}

.flex-Gcenter-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

// Конец - Свойства



// ТОП-бар

.top-bar {
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.07);
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-col {
    max-width: 193px;
    width: 100%;

    i.icon.map {
      background-color: @gray;
      margin-right: 10px;
      font-size: 20px;
    }

    .select-btn {

      span {
        color: @red;
        border-bottom: 1px dashed @red;
        width: max-content;
        font-weight: 500;
        padding-bottom: 1px;
      }

      i {
        margin-left: 10px;
        font-size: 10px;
        background-color: @gray;
      }

    }

    .dropdown-content {
      width: auto !important;
      padding: 10px 0;
      max-width: 275px;
      width: 100% !important;
      box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);

      li {
        min-height: initial;

        &:hover {
          background-color: @LightBlue;
        }

        .link-city {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #000;
          font-weight: 500;
          font-size: 15px;
          padding: 10px 30px;

          &:hover {
            background-color: initial;
          }

          &.active {
            color: @red;

            i {
              background-color: red;
            }
          }

          i {
            display: none;
            background-color: transparent;
            float: initial;
            font-size: 6px;
            margin: 0;
          }
        }
      }
    }
  }

  // Сервисное меню
  .service-menu {

    a {
      font-size: 14px;
      color: @gray;
      margin-right: 35px;
      transition: all 0.2s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: @red;
      }
    }
  }
  // Конец - Сервисное меню


  // Контакты и обратная связь
  .right-col.callback {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -50vw;
      height: 100%;
      width: 50vw;
      z-index: 1;
      background-color: @LightBlue;
    }

    .contact-us {
      position: relative;
      padding-left: 25px;
      background-color: @LightBlue;
      height: 100%;
      margin-left: 40px;

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        max-height: 40px;
        border: 20px solid transparent;
        border-right: 0px solid @LightBlue;
        border-bottom: 40px solid @LightBlue;
      }



        .link {
          i {
            margin-right: 20px;
            font-size: 20px;
            background-color: @red;

            &.mailOpen {
              font-size: 24px;
            }
          }

          a {
            font-size: 14px;
            color: #000;
            font-weight: bold;
            border-bottom: 1px dashed @red;
            transition: all 0.2s;

            &:hover {
              color: @red;
            }
          }
        }

      .line {
        width: 1px;
        height: 20px;
        margin: 0 20px;
        background-color: rgba(0,0,0, 0.1);
      }
    }

  //  Соц. сети
    .social-link {

      i {
        font-size: 20px;
        background-color: @gray;

        &.whatsapp:hover {
          background-color: #0DC143;
        }

        &.instagram:hover {
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        }
      }

      .line {
        width: 1px;
        height: 20px;
        margin: 0 20px;
        background-color: rgba(0,0,0, 0.1);
      }
    }

  }
  // Конец - Контакты и обратная связь
}

// Конец - ТОП-бар



// Главная информация

header {
  margin-bottom: 30px;

  .cart-container {
    display: grid;
    grid-template-columns: 1fr 400px;

    .left-col {
      padding: 50px;
      padding-right: 60px;
      padding-bottom: 0;
      height: 100vh;

      .header {
        margin-bottom: 20px;

        .closeBtn {
          width: max-content;
          cursor: pointer;
          i {
            background-color: @red;
            font-size: 13px;
            margin-right: 18px;
          }
          p {
            color: @red;
            font-weight: 500;
            font-size: 18px;
          }
        }
      }

      .title-cart {
        margin-bottom: 50px;

        .title {
          font-weight: bold;
          font-size: 30px;
          color: #000;
        }

        .count {
          font-size: 20px;
          font-weight: bold;
          color: @gray;
        }
      }

      .tabel-grid {
        position: relative;
        overflow-y: auto;
        height: calc(100vh - 177px) !important;
        overflow-x: hidden;
        padding-right: 10px;

        .header {
          background: #fff;
          position: sticky;
          top: 0;
          z-index: 2;
          display: grid;
          grid-template-columns: 1fr minmax(100px, 140px) minmax(100px, 120px) 15px;
          grid-gap: 20px;
          color: @gray;
          padding-bottom: 20px;
          margin-bottom: 0;

          p {
            font-weight: 500;
            font-size: 16px;
          }
        }

        .row {
          .item {
            display: grid;
            grid-template-columns: 90px 1fr minmax(100px, 140px) minmax(100px, 120px) 15px;
            grid-gap: 20px;
            align-items: center;
            margin-bottom: 30px;

            img {
              width: 90px;
              height: 100%;
              max-height: 90px;
              max-width: 90px;
              object-fit: contain;
            }

            .nameProduct-link {
              font-size: 16px;
              color: #000;
              font-weight: 500;
              text-decoration: none;
              padding-left: 20px;
              transition: all 0.05s;

              &:hover {
                color: @red;
              }
            }

            .count-btn {
              display: flex;
              align-items: center;

              i {
                font-size: 20px;
                background-color: @gray;
                cursor: pointer;

                &.active {
                  background-color: #000;
                }

                &:active {
                  transform: scale(0.97);
                  background-color: #222;
                }
              }

              input {
                width: 30px;
                height: max-content;
                padding: 0;
                border: none !important;
                border-color: transparent !important;
                margin: 0 5px 0 5px;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
              }

              input[type="number"]::-webkit-outer-spin-button,
              input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type="number"] {
                -moz-appearance: textfield;
              }
              input[type="number"]:hover,
              input[type="number"]:focus {
                -moz-appearance: number-input;
              }

              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }

            .price {
              display: flex;
              flex-direction: column;
              font-size: 18px;
              font-weight: bold;

              span {
                font-size: 14px;
                color: @gray;
                font-weight: 400;
                margin-top: 3px;
              }
            }

            .delete-item {
              cursor: pointer;

              i {
                font-size: 15px;

                &:hover {
                  background-color: @red;
                }
              }
            }
          }
        }
      }

    }

    .right-col {
      display: flex;
      flex-direction: column;
      background-color: #EFEFEF;
      padding: 30px;

      .title-cash {
        margin-top: 57px;
        font-size: 30px;
        font-weight: bold;
      }

      .results {
        margin-top: 90px;

        .item {
          margin-bottom: 13px;

          .title {
            font-size: 16px;
            font-weight: 500;
          }

          .price {
            font-size: 16px;
            font-weight: bold;

            &.red-text {
              color: @red;
            }
          }

          &.promo-code {
            margin-top: 45px;

            .price {
              color: @red;
            }
          }

          input {
            width: 160px;
            border: none !important;
            height: auto;
            margin: 0;
            font-family: 'bibi';
            text-align: right;
            box-shadow: none !important;
            font-weight: 500;
            color: #000;

            &::placeholder {
              color: @gray;
              font-weight: 400;
            }
          }
        }
      }

      .total-price {
        margin-top: auto;

        img {
          margin: 0 auto;
        }

        .price-result {
          margin-top: 70px;
          margin-bottom: 30px;

          .title {
            font-size: 16px;
            font-weight: 500;
          }

          .price {
            font-size: 24px;
            font-weight: bold;
          }
        }

        .go-shopping-cart {
          font-size: 18px;
          font-weight: 600;
          background-color: @red;
          width: 100%;
          height: 50px;
          color: #fff;
        }
      }
    }
  }
}

header .index-info .container {
  display: flex;
  padding: 30px 0;

  .logo-link {
    img {
      max-width: 283px;
      min-width: 283px;
      width: 100%;
      height: auto;
      margin-right: 25px;
    }
  }

  .search {
    position: relative;
    width: 100%;
    max-width: 392px;

    input {
      width: calc(100% - 62px);
      height: 47px;
      border: 1px solid #CECECE;
      padding: 0px 10px;
      border-radius: 3px;
      margin: 0;
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 16px;
      padding-right: 50px;

      &:focus {
        box-shadow: none;
        border-bottom-color: @red;
      }

      &::placeholder {
        color: @gray;
        font-weight: 300 !important;
      }

    }

    span {
      content: '';
      position: absolute;
      top: 0;
      right: 20px;
      height: 49px;

      i {
        font-size: 16px;
        background-color: @gray;
      }
    }
  }

  // Контактная информация
  .contact {
    margin-left: 50px;


    i {
      background-color: @red;
      font-size: 25px;
      margin-top: 3px;
      margin-right: 15px;
    }

    .index-text {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 1px;
      white-space: nowrap;
    }

    .low-text {
      font-size: 14px;
      color: @gray;
      line-height: 19px;
      white-space: nowrap;
    }
  }

  .cart-box {
    width: 196px;
    height: 74px;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 50px;
    padding: 0px 23px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    }

    .icon-cart {
      position: relative;
      margin-right: 20px;

      i {
        font-size: 33px;
        background-color: @red;
      }

      .count-purchases {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: -10px;
        top: -9px;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        font-weight: 500;
        font-size: 14px;
        color: @gray;
      }
    }

    .title {
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 2px;
    }

    .price {
      font-size: 14px;
      color: @gray;
    }
  }

}
// Конец - Главная информация



// Навигация

.desktop-nav {
  position: relative;
  width: 100%;
  height: 50px;
  box-shadow: none;
  background: linear-gradient(90.21deg, #2F343A 0.07%, #101511 99.93%);

  a {
    height: 100%;
  }

  .open-catalog {
    background-color: @red;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 264px;

    i {
      background-color: #fff;

      &.menu {
        font-size: 20px;
      }

      &.arrowDown {
        font-size: 10px;
      }
    }

    span {
      color: #fff;
      font-size: 15px;
      margin-left: 20px;
      margin-right: 37px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  .link-nav {
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 0 30px;
    height: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255,255,255, 0.1);
    }

    i {
      background-color: #FFFFFF;
      font-size: 10px;
      margin-left: 10px;
    }

  }

  .dropdown-content {
    top: 50px !important;
    padding: 10px 0;
    width: max-content !important;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);

    li {
      min-height: initial;

      &:hover {
        background-color: @LightBlue;
      }
    }

    a {
      padding: 10px 30px;
      color: #000;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background-color: initial;
      }

      span {
        color: @red;
        font-weight: 600;
      }
    }
  }

  .acceptance-batteries {
    margin-left: auto;
    margin-right: 10px;
    width: 176px;
    background-color: #505050;
    text-align: center;
    transform: skew(-20deg);

    span {
      transform: skew(20deg);
      font-weight: 600;
    }
  }



}


// Контент
.modal.product-catalog {

  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  max-width: initial;
  max-height: initial;
  color: #000;
  padding: 30px 50px 0 50px;


  .header-modal_catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;

    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #000000;
    }

    .modal-close {
      justify-content: flex-end;
      text-align: right;
      font-size: 20px;
      font-weight: 500;
      width: max-content;
      margin-left: auto;
      text-transform: none;

      i {
        margin-left: 20px;
      }
    }
  }

  .grid-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - 200px);
    overflow: hidden;

    .list-categories {
      border-right: 1px solid #E6E6E6;
      opacity: 1;
      overflow-x: auto;
      transition: all 1s;

      &::-webkit-scrollbar-thumb { height: 50px;  cursor: pointer; background-color: transparent; border-radius: 30px; cursor: pointer;}

      .group {
        width: 95%;

        .title {
          position: relative;
          font-size: 25px;
          color: @gray;
          font-weight: bold;
          margin-bottom: 40px;
          white-space: nowrap;

          &:after {
            content: '';
            position: absolute;
            top: 48px;
            left: 0;
            width: 100%;
            height: 5px;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, @red 50%, rgba(255,255,255,1) 100%);
          }
        }

        .list {

          p {
            display: inline-block;
            width: 100%;
            font-size: 30px;
            color: #000000;
            font-weight: bold;
            padding: 17px 30px;
            cursor: pointer;
            transition: all 0.2s;
            margin-bottom: 1px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              background: rgba(0, 0, 0, 0.04);
            }

            &:last-child {
              margin-bottom: 20px;
            }

            span {
              font-size: 25px;
              color: @gray;
              font-weight: 400;
              margin-right: 60px;
              width: 31px;
            }
          }
        }
      }
    }

    .category-preview {
      border-right: 1px solid #E6E6E6;
      padding: 0 50px;

      .contain {
        height: 100%;
        --animate-duration: 0.5s;
      }

      .title {
        font-size: 25px;
        color: @gray;
        font-weight: bold;
        margin-bottom: 40px;
      }

      .box-prev-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        transition: all 0.2s;
      }

      .photo-cat {
        width: 100%;
        max-width: 430px;
        height: 100%;
        max-height: 340px;
        background-size: cover;
        object-fit: contain;
      }
    }

    .manufacturer {
      padding-left: 50px;

      .title {
        font-size: 25px;
        color: @gray;
        font-weight: bold;
        margin-bottom: 40px;

        i {
          display: none;
          background-color: @red;
          margin-right: 15px;
          font-size: 23px;
        }
      }

      .letter {
        position: relative;
        font-size: 25px;
        font-weight: bold;
        color: @red;
        margin-bottom: 30px;

        &:after {
          content: '';
          position: absolute;
          top: 45px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #ccc;
        }
      }

      .link {

        a {
          display: flex;
          width: 100%;
          color: #000;
          font-size: 18px;
          font-weight: 600;
          padding: 13px 30px;

          &:hover {
            background: rgba(0, 0, 0, 0.04);
          }

          &:last-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.opacity_0 {
  display: none;
  transition: all 0.2s;
}


// Конец - Навигация




// Корзина

.toggle-cart {
  max-width: 1280px;
  width: 100%;
}

// Конец - Корзина

.grid-navigation .animate__animated {
  animation-duration: 0.7s;
}

// Мобильное меню ТОП-бар

.mobile-top_bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0.9px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;

  &.show-toggle {
    top: -70px;
    box-shadow: 0px 0.9px 30px rgba(0, 0, 0, 0);
  }

  img.logo-mob {
    width: 158px;
    height: auto;
    padding: 15px 0px 15px 20px;
  }

  .button-menu-mob {
    width: 70px;
    height: 70px;

    i {
      font-size: 30px;
    }
  }
}

.mobile-bottom_bar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  background-color: #fff;
  border-top: 1px solid @blackOpacity;
  padding: 0px 10px;
  padding-bottom: env(safe-area-inset-bottom, 10px);

  .nav-bottom-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 50px;

    &.active {
      i {
        background-color: @red;
      }
    }

    .title {
      font-size: 12px;
      color: @gray;
      margin-top: 10px;
    }

    i {
      font-size: 22px;
      background-color: @gray;
    }
  }
}

// Конец - Мобильное меню ТОП-бар



// Слайдер и баннеры

.block-slider-banners {
  display: grid;
  grid-template-columns: 11fr 5fr;
  grid-gap: 30px;
  width: 100%;
  height: 100%;

  .maxSlid {
    width: 100%;
    height: 100%;
    max-width: 1048px;
    max-height: 460px;
    overflow: hidden;
  }

  .fixed-ar {
    height: 100%;
  }

  .banners {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: auto;
      max-height: 215px;
      max-width: 460px;
      margin-bottom: 30px;
      object-fit: cover;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .owl-carousel,
  .owl-stage-outer,
  .owl-carousel .owl-stage,
  .owl-carousel.owl-drag .owl-item {
    height: 100%;
  }
}



// Форма обратного звонка

.callback-forms {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  z-index: 1111;
  width: 500px;
  color: #fff;
  background-color: #282D31;
  padding: 50px;
  height: 100% !important;

  .header {
    margin-bottom: 45px;
    .title {
      font-size: 35px;
      font-weight: bold;
    }

    i {
      background-color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: @red;
      }
    }
  }

  .info {

    .index-title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .text {
      font-size: 18px;
      font-weight: 300;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .input-field {
      margin: 0px;
      margin-bottom: 40px;

      input {
        width: calc(100% - 20px);
        background-color: rgba(255,255,255, 0.2);
        padding: 0 10px;
        border-bottom-color: transparent;
        color: #fff;
      }

      textarea {
        font-family: 'bibi';
        width: 100%;
        height: 130px;
        background-color: rgba(255,255,255, 0.2);
        padding: 10px;
        border-bottom-color: transparent;
        color: #fff;
        border: none;
        border: 0 !important;

        &::-webkit-resizer {
          background-color: transparent;
        }
      }

      label {
        top: -25px;
        font-size: 14px;
        transform: none;
      }
    }

    .dropdown-content {
      li {
        transition: all 0.2s;
        &:hover {
          background-color: @LightBlue;
        }

        &.disabled {
          background-color: transparent;
          span {
            color: @gray !important;
          }
        }

        &:hover span {
          color: @red;
        }
        span {
          color: #000;
        }
      }
    }

    input:focus {
      border-color: @red !important;
      box-shadow: none !important;
    }

    input:focus+label {
      color: @LightBlue !important;
    }
  }

  .successful-sending {
    &.active {
        display: grid;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    display: none;
    img {
      width: 135px;
      height: auto;
      margin: auto;
      margin-bottom: 20px;
    }

    .text {
      font-size: 25px;
    }
  }

  .send-form {
    font-family: 'bibi';
    font-weight: 500;
    width: 100%;
    height: 50px;
    background-color: @red;
    text-transform: initial;
    font-size: 18px;
  }

  .close-form {
    display: none;
    margin: auto;
    font-family: 'bibi';
    font-weight: 500;
    width: 100%;
    height: 50px;
    background-color: @gray;
    text-transform: initial;
    font-size: 18px;
  }
}



