@charset "UTF-8";

// Большие экраны
@media (max-width: 1738px) {
  .container {
    max-width: 1338px;
  }

  header .index-info .container {
    .logo-link {
      img {
        max-width: 220px;
        min-width: 220px;
        width: 100%;
        height: auto;
        margin-right: 80px;
      }
    }
  }

  .product-catalog .list-categories .group .list p {
    font-size: 1.5vw !important;
  }

  .product-catalog .list-categories .group .list p span {
    margin-right: 2.5vw !important;
    font-size: 1.3vw !important;
  }

  .filter-akb .parameters .filter-search .checkbox-parametrs {
    grid-template-columns: 1fr 1fr !important;
    padding-bottom: 30px;
  }

  .filter-akb .parameters .filter-search {
    height: 600px !important;
    overflow-y: auto !important;
  }

  .Home-Receiving-Old-Batteries .content-banner .left-photo {
    display: none;
  }

  .Home-Receiving-Old-Batteries .content-banner .right-block {
    padding: 85px 15% !important;
  }

  .home-CallBack-Form .left-col .content .title {
    font-size: 2vw !important;
    line-height: normal !important;
  }

  .goods-grid {
    .goods-item {
      .bottom-card {
        margin-top: 20px !important;

        .add-to-cart {
          min-width: initial;
          margin-left: auto !important;

          .title {
            display: none;
          }
        }
      }
    }
  }

}

@media (max-width: 1538px) {
  .container {
    max-width: 1238px;
  }

  .acceptance-batteries {
    display: none;
  }

  .desktop-nav .link-nav {
    font-size: 15px;
  }

  .modal.product-catalog .grid-navigation .list-categories .group .list p {
    padding: 15px 30px;
  }

  .home-About-Us .years-old {
    font-size: 9vw !important;
    margin-top: -3.4vw !important;
  }
  .home-About-Us .content-about-us .content-text .label-text {
    display: none;
  }
}

// Ноутбуки
@media (max-width: 1400px) {
  header .cart-container {
    max-width: initial;
    width: 90% !important;
    grid-template-columns: 1fr 360px;
  }

  .number-or-adress {
    display: block;
  }

  header .index-info .container {
    .contact {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        font-size: 20px;
      }

      .low-text {
        display: none;
      }
    }
  }
}

// Ноутбуки
@media (max-width: 1338px) {
  .container,
  .container-midle {
    max-width: 1258px;
  }

  .top-bar .right-col.callback {
    .social-link {
      display: none;
    }
  }

  .modal.product-catalog .grid-navigation .manufacturer .title,
  .modal.product-catalog .grid-navigation .category-preview .title,
  .modal.product-catalog .grid-navigation .list-categories .group .title {
    font-size: 18px;
  }

  .home-filter-akb {
    grid-template-columns: 1fr 1fr !important;

    .step {
      .count {
        font-size: 25px !important;
      }
    }
  }

  .filter-akb  {
    display: none !important;
  }

  .mobile-filter-akb {
    display: grid !important;
  }

  .servicesFromStore {

    .services-grid {
      grid-template-areas: inherit;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      grid-template-rows: repeat(5, 130px);

      .container-service {
        display: flex;
        align-items: center;
      }

      .service-1 {
        grid-area: inherit;

        .container-service {
          padding: 30px !important;
        }
      }
      .service-2 {
        grid-area: inherit;
      }
      .service-3 {
        grid-area: inherit;
      }
      .service-4 {
        grid-area: inherit;
      }
      .service-5 {
        grid-area: inherit;

        .container-service:after {
          display: none;
        }

        .container-service {
          padding: 30px !important;
        }
      }

      .text-container {
        height: auto !important;

        .title {
          font-size: 20px !important;
        }

        .hint {
          display: none;
        }

        .link {
          display: none;
        }
      }

      .img-photo {
        left: inherit !important;
        right: 0 !important;
        width: 100% !important;
        height: 95% !important;
        max-width: 150px !important;
        object-fit: contain;
      }
    }
  }

  .home-CallBack-Form {
    grid-template-columns: 1fr !important;
    margin-top: 50px !important;

    .left-col {
      &:after,
      &:before {
        width: 94vw !important;
      }
    }

    .right-col {
      padding: 30px !important;

      .about-us {
        margin-bottom: 50px;
      }

      .box-qualities {
        grid-gap: 15px !important;
        i {
          font-size: 25px !important;
        }

        p {
          font-size: 13px !important;
          text-align: center;
        }
      }
    }
  }

}

@media (max-width: 1238px) {
  .container {
    max-width: 938px;
  }

  .top-bar .right-col.callback{
    display: none !important;
  }

  header .index-info .number-or-adress {
    display: none;
  }

  .desktop-nav .link-nav {
    font-size: 14px;
    padding: 0 20px;
  }

  .desktop-nav .open-catalog span {
    margin-left: 20px;
    margin-right: 10px;
  }

  .service-menu .acceptance-batteries.hide {
    display: block !important;
  }

  .modal.product-catalog .grid-navigation {
    grid-template-columns: 1fr 1fr;
  }

  .modal.product-catalog .grid-navigation .category-preview {
    display: none;
  }

  .product-catalog .list-categories .group .list p span {
    margin-right: 2.5vw !important;
    font-size: 1.6vw !important;
  }

  .modal.product-catalog .grid-navigation .manufacturer .link a {
    font-size: 1.9vw;
    padding: 10px 30px;
  }

  .modal.product-catalog .header-modal_catalog img {
    width: 23vw;
    height: auto;
  }

  .modal.product-catalog .header-modal_catalog .title {
    font-size: 2.2vw;
  }

  .modal.product-catalog .header-modal_catalog .modal-close {
    font-size: 16px;
  }

  .product-catalog {
    .list-categories {
      .group .list p {
        padding: 1.3vw 30px !important;
        padding-left: 15px !important;
        font-size: 2.1vw !important;
      }
    }
  }

  .modal.product-catalog .grid-navigation .manufacturer .title,
  .modal.product-catalog .grid-navigation .category-preview .title,
  .modal.product-catalog .grid-navigation .list-categories .group .title {
    font-size: 15px;
  }

  .footer-Subscribe-Newsletter {
    .container {
      flex-direction: column;
      align-items: flex-start;

      .left-col {
        margin-bottom: 20px;
      }

      .right-col {
        flex-direction: column;
        width: 100%;

        form {
          flex-direction: column;

          button {
            width: 100%;
            padding: 12px 30px !important;
            font-size: 13px !important;
            font-weight: 500 !important;
            margin-top: 10px;
            height: 42px;
          }
        }

        .input-box {
          width: 100%;
        }
      }
    }
  }

  .index-catalog {
    grid-template-columns: 1fr !important;

    .left-col {
      display: none;
    }

    .right-col {
      .large-hiden {
        display: flex !important;
      }
    }
  }


  .product-card .product-content .description .leave-review {
    display: none;
  }

  .product-card .product-content .description .btn-buy {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;

    a {
      margin-bottom: 0 !important;
    }
  }

  .goods-grid {
    grid-template-columns: repeat(3, 1fr);

    &.goods-long-grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .goods-item {
      position: initial !important;
      max-width: none !important;

      &:hover {
        box-shadow: none !important;
      }

      .parametrs-akb {
        display: none !important;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .index-news {
    .content {
      grid-template-columns: 1fr !important;
    }
  }

}

@media (max-width: 1038px) {
  .container {
    width: calc(100% - 50px);
  }

  header .index-info .container {
    .cart-box {
      margin-left: 35px;
    }
    .logo-link img {
      margin-right: 35px;
    }
  }


  .home-CallBack-Form {
    grid-template-columns: 1fr !important;

    .left-col {
      &:after,
      &:before {
        width: 100% !important;
      }

      .content {
        width: 100%;
        padding: 50px 30px !important;

        .title {
          font-size: 20px !important;
        }
      }

      form {
        input {
          width: calc(100% - 40px) !important;
        }
      }

      .photo-master {
        display: none;
      }
    }
  }

  .return-goods .container-midle .container-rules {
    grid-template-columns: 1fr 1fr !important;
  }

  .delivery-Payment-Payment .payment-methods .grid-card-methods {
    grid-template-columns: 1fr 1fr !important;
  }

}

// Планшеты
@media (max-width: 980px) {
  .container,
  .container-midle {
    width: calc(100% - 30px);
  }

  footer {
    grid-gap: 30px !important;
  }

  header {
    display: none !important;
  }

  .mobile-top_bar {
    display: flex !important;
  }

  body {
    padding-top: 90px;
  }

  .mobile-bottom_bar {
    display: grid;
  }

  .cart-container {
    grid-template-columns: 1fr;
    width: 90% !important;

    .left-col {
      display: flex;
      flex-direction: column;
      padding: 30px;

      .tabel-grid {
        padding-right: 0;
        height: auto !important;

        .header {
          display: none;
        }

        .row .item {
          display: flex;
          grid-template-columns: initial;
          grid-gap: initial;
          align-items: initial;

          img {
            width: 100%;
            max-width: 50px;
          }
          .nameProduct-link {
            font-size: 14px;
            margin-right: 10px;

            > .price {
              display: flex;
              font-size: 14px;
              font-weight: bold;
              margin-top: 7px;

              > .count {
                font-weight: 500;
                background-color: var(--color-LightBlue);
                border-radius: 50px;
                padding: 2px 10px;
                color: var(--color-gray);
                font-size: 13px;
                margin-left: auto;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: auto;
                height: auto;
                font-family: 'bibi';
              }
            }
          }

          .count-btn {
            display: none;
          }

          > .price {
            display: none;
          }

          .delete-item i {
            margin-top: 3px;
            background-color: var(--color-gray);
          }
        }
      }

      .title-cart {
        .title {
          font-size: 24px;
        }
        .count {
          font-size: 15px;
        }
      }

      .total-price-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        position: relative;
        margin-top: auto;
        padding-top: 5px;

        &:after {
          content: '';
          position: absolute;
          top: -30px;
          left: 0;
          width: 100%;
          height: 30px;
          background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }

        .price-result {
          margin-bottom: 10px;
          .title {
            font-size: 15px;
            font-weight: 500;
          }

          .price {
            font-size: 18px;
            font-weight: bold;
          }
        }

        .go-shopping-cart {
          font-size: 16px;
          font-weight: 600;
          background-color: var(--color-red);
          width: 100%;
          height: 45px;
          color: #fff;
        }
      }

    }

    .right-col {
      display: none;
    }
  }

  .home-About-Us .content-about-us .background-image {
    display: none !important;
  }

  .home-About-Us .content-about-us .content-text {
    max-width: inherit !important;
  }

  .home-About-Us .years-old {
    font-size: 15vw !important;
    margin-top: -5.6vw !important;
  }

  .Home-Receiving-Old-Batteries .content-banner .right-block {
    padding: 50px 30px !important;
  }

  .Home-Receiving-Old-Batteries .content-banner .right-block .title {
    font-size: 5vw;
  }

  .Home-Receiving-Old-Batteries .content-banner .right-block .text {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  .Home-Receiving-Old-Batteries .title-stock {
    font-size: 15vw !important;
    padding-right: 20px !important;
    margin-bottom: -15px;
  }

  footer {
    padding-bottom: 70px;

    .bottom-box {
      flex-direction: column;
      justify-content: center;

      .social-network {
        margin-left: 0;
      }

      .terms-sale {
        margin: 15px 0;
      }
    }
  }

  .filter-search-akb {
    .content-selection {
      grid-template-columns: repeat(auto-fit, minmax(0, 100%)) !important;
    }
  }

  .index-catalog {
    .right-col {
      .description {
        .text {
          display: none;
        }
      }

      .count-goods-catalog {
        .sort-dropdown-trigger {
          p {
            display: none;
          }

          .dropdown-trigger {
            min-width: inherit;
            padding: 10px 20px;
            font-size: 13px;
          }
        }

        .count {
          font-size: 22px;
        }
      }
    }
  }

  .modal {
    .filter-search {

      .header {
        margin-bottom: 30px;
        .title {
          font-weight: bold;
          font-size: 5vw;
        }

        i {
          background-color: var(--color-gray);
          font-size: 20px;
        }
      }

      .filter-search-akb {
        .checkbox-parametrs {
          grid-template-columns: 1fr !important;
        }

        .clear-form {
          display: flex;
          justify-content: center;
          color: var(--color-gray) !important;
          border: 1px solid var(--color-gray);
          padding: 10px 0;
          font-size: 16px;
          margin-top: 10px;

          i {
            background-color: var(--color-gray) !important;
          }
        }
      }

      .btn-find-count {
        display: flex;
        justify-content: center;
        color: #fff !important;
        background-color: var(--color-red) !important;
        padding: 10px 0;
        font-size: 16px;
        margin-top: 10px;
        font-weight: 600;

        i {
          background-color: var(--color-gray) !important;
        }
      }
    }
  }


  .product-card {
    .product-content {
      grid-template-columns: 1fr !important;

      .description {
        padding: 20px !important;

        .name-product {
          font-size: 20px !important;
          font-weight: 600 !important;
          line-height: normal !important;

          .article {
            display: none;
            font-size: 14px !important;
            font-weight: 400;
          }
        }

        .price-box,
        .btn-buy {
          flex-wrap: wrap;
          border: none !important;
          padding: 0 !important;
          margin: 0 !important;

          .add-to-cart {
            position: fixed;
            left: 15px;
            bottom: calc(70px + env(safe-area-inset-bottom));
            z-index: 5;
            width: calc(100% - 30px);
          }

          a {
            padding: 15px 0;
            width: 100%;
            text-align: center;
            margin: 0 !important;
            margin-bottom: 10px !important;
          }
        }

        .price-box {

          .left-col {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-right: none !important;
            width: 100%;
            padding: 0 !important;
            margin: 0 !important;

            .price {
              font-size: 25px !important;
            }
            .exchange {
              font-size: 15px !important;
            }
          }

          .right-col {
            display: none;
          }
        }

        .buy-one-click {
          display: none;
        }

        .leave-review {
          display: none;
        }
      }
    }

    .photo-box {

      .product-photo {
        padding: 40px;
      }

      .parametrs-akb {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        padding: 0 20px;

        .item {
          .header {
            font-size: 16px !important;
          }

          .info {
            font-size: 13px !important;
          }
        }
      }
    }

    .parametrs-content {
      grid-template-columns: 1fr !important;

      .left-col {
        .tabs-box {
          grid-template-columns: 1fr !important;
        }

        .tabel-grid {
          .row-container {
            .title {
              font-size: 14px !important;
            }
            .parametrs {
              font-size: 13px !important;
            }
          }

          .show-all {
            font-size: 14px !important;
            padding: 10px 0 !important;
          }
        }
      }
    }

    .parametrs-content .left-col .tabs-box-content .tab-container .card-container {
      grid-template-columns: 1fr !important;
    }

    .parametrs-content .left-col .tabs-box-content .tab-container.select-city .select-box {
      grid-template-columns: 1fr !important;
    }

    .parametrs-content .item-card iframe {
      display: none;
    }
  }

  #mobile-modal-category {


    .slide-filter-08945 {
      .car-brand,
      .list-model {
        height: inherit !important;
        overflow: auto !important;
      }

      .list-parametr {
        .list-model {
          .item-list {
            padding-left: 10px !important;
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  .index-news .content .left-col {
    grid-template-columns: 1fr 1fr !important;
  }

  .delivery-Payment .container-midle .content .pricing-plans > .grid-plans {
    grid-template-columns: 1fr !important;
  }

  .delivery-Payment .container-midle .content .header {
    grid-template-columns: 1fr !important;
    margin-top: 30px;
    margin-bottom: 30px;

    .left-col {
      .title {
        font-size: 25px !important;
      }
    }
  }

  .delivery-Payment .container-midle .content .delivery-map .any-delivery {
    grid-template-columns: 1fr !important;
  }

  .delivery-in-Russia .content {
    grid-template-columns: 1fr !important;
  }

  .delivery-in-Russia .content .right-col,
  .delivery-Payment-Payment .content .header .right-col img {
    display: none;
  }

  .delivery-Payment .example-delivery .example-grid {
    grid-template-columns: 1fr !important;
  }

  .delivery-Payment .example-delivery .example-grid .right-col > .title {
    font-size: 25px !important;
  }

  .delivery-Payment .sales-products-samples .grid-products-samples {
    grid-template-columns: 1fr !important;
  }

  .delivery-Payment-Payment .payment-methods .grid-card-methods {
    grid-template-columns: 1fr !important;
  }

  .guarantees-page .container-midle .content .grid-content-top {
    grid-template-columns: 1fr !important;
  }

  .guarantees-page .container-midle .content .content-grid-bottom .content {
    grid-template-columns: 1fr !important;
  }

  .wholesale-page .container-midle > .content {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .wholesale-page .container-midle > .content .right-col .content {
    padding: 30px;

    > .header {
      font-size: 25px !important;
    }
  }

}

@media (max-width: 800px) {
  .price-list .container-midle .header-price-list {
    display: flex !important;
    flex-direction: column-reverse;

    .input-box {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .modal.product-catalog {
    padding: 20px;

    .header-modal_catalog {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 13px;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
      margin-bottom: 30px;
    }

    .grid-navigation {
      display: flex !important;
    }

    .manufacturer {
      display: none;
      padding-left: 20px !important;
      width: 100% !important;
    }

    .list-categories {
      border: none !important;

      .group {
        width: 100% !important;
      }
    }

    img {
      display: none;
    }

    .title {
      text-align: left !important;
      font-size: 22px !important;
    }

    .modal-close {
      span {
        display: none;
      }
    }

    .list-categories .group .title,
    .category-preview .title,
    .manufacturer .title {
      font-size: 18px !important;
    }

    .list-categories .group .title:after {
      top: 30px !important;
    }

    .list-categories .group .title {
      margin-bottom: 30px !important;
    }
  }

  .modal.product-catalog .grid-navigation .list-categories .group .list p {
    font-size: 23px !important;
    padding: 15px 30px !important;

    span {
      font-size: 18px !important;
      margin-right: 30px !important;
    }
  }

  .modal.product-catalog .grid-navigation .manufacturer .link a {
    font-size: 18px !important;
    padding: 15px 30px !important;
  }

  .modal.product-catalog .manufacturer .title i {
    display: inline-block !important;
  }

  .callback-forms {
    width: 90% !important;
    padding: 30px;
    padding-top: 0;

    .header {
      height: 70px;
      margin-bottom: 15px;

      .title {
        font-size: 25px;
      }
    }
    .info {
      .index-title {
        font-size: 25px;
      }
      .text {
        font-size: 16px;
      }
    }
  }

  #modal-bu {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: inherit;
    max-width: inherit;
    margin: 0;

    .modal-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      .title {
        font-size: 5.5vw;
      }

      .close-btn p {
        display: none;
      }

      i {
        font-size: 20px;
      }
    }

    .tabel-grid {
      height: calc(100vh - 262px);

      .header {
        grid-template-columns: 2.5fr 1fr 1fr;
      }

      .count-btn i {
        display: none;
      }

      .content-row {
        grid-template-columns: 2fr 1fr 1.5fr;
      }
    }

    .footer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;

      .discount {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .add-cart {
        width: 100%;
      }
    }
  }

  .marginB50 {
    margin-bottom: 30px;
  }

  .block-slider-banners {
    width: 100%;
  }

  .head-title-red .title {
    font-size: 23px;
  }

  .block-slider-banners .slider-index {
    width: 100% !important;
  }

  .block-slider-banners {
    height: 44vw !important;
  }

  .block-slider-banners .owl-carousel .owl-dots {
    display: none;
  }

  .goods-grid {
    grid-template-columns: 1fr 1fr;

    &.goods-long-grid {
      grid-template-columns: 1fr 1fr;
    }

    .goods-item {
      padding: 10px;

      .photo-goods {
        max-height: 150px;
        padding: 0 20px;
      }

      .category-title {
        font-size: 10px;
        margin-bottom: 7px;
      }

      .name-product {
        font-size: 13px;
        font-weight: 600;
      }

      .current-price {
        font-size: 16px !important;
      }

      .exchange-price {
        display: none;
        font-size: 12px !important;
      }
    }
  }


  .footer-Subscribe-Newsletter {
    .left-col {
      .title {
        font-size: 20px;
        font-weight: 600;
      }

      .description {
        font-size: 13px;
      }

      img {
        display: none;
      }
    }
  }

  .btn-page-up {
    right: 15px;

    .title {
      display: none;
    }

    .circle {
      width: 50px;
      height: 50px;
    }
  }

  .pagination-container {
    justify-content: center;
  }

  .return-goods .container-midle .container-rules {
    grid-template-columns: 1fr !important;
  }

  .delivery-Payment .container-midle .content .delivery-map .any-delivery .right-col {
    grid-template-columns: 1fr !important;
  }
}

// Мобильные устройства
@media (max-width: 600px) {
  #modal-bu {
    .form-select-akb .select-voltage {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

      .style-btn {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .home-filter-akb {
    grid-template-columns: 1fr !important;

    .secondary {
      display: none;
    }

    .step {
      display: none;
    }

    .what-is .title .arrowDown {
      display: none;
    }
  }

  .mobile-filter-akb {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 20px !important;

    .item-category-akb {
      grid-column-start: 1;
      grid-column-end: 3 !important;
    }
  }

  .home-About-Us .content-about-us .content-text {
    padding: 30px !important;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.08) !important;

    .box-qualities {
      max-width: inherit !important;
      grid-column-gap: 20px !important;

      .item {
        i {
          font-size: 30px !important;
        }

        p {
          font-size: 14px !important;
        }
      }
    }
  }

  .home-About-Us .content-about-us .content-text {
    > .title {
      font-size: 20px !important;
      margin-bottom: 15px !important;
    }

    .text {
      font-size: 14px !important;
    }
  }

  .index-news .content .left-col {
    grid-template-columns: 1fr !important;
  }

  .delivery-in-Russia .content .left-col .couriers-card {
    grid-template-columns: 1fr !important;
  }

}

// Мобильные устройства
@media (max-width: 500px) {

  .modal.product-catalog .grid-navigation .list-categories .group .list p {
    font-size: 5.4vw !important;
    padding: 3.5vw 15px !important;

    span {
      font-size: 3.8vw !important;
      margin-right: 5vw !important;
    }
  }

  .home-CallBack-Form .left-col .content form .footer-form {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    button {
      width: 100%;
      margin-bottom: 15px;
    }

    .hind {
      max-width: none !important;
    }
  }

}


// Мобильные устройства
@media (max-width: 400px) {
  .cart-container .left-col .title-cart .title {
    font-size: 5.5vw;
  }
  .cart-container .left-col .title-cart .count {
    font-weight: 500;
  }
}











// Высота
@media (max-height: 750px) {
  header .cart-container .right-col .title-cash {
    margin-top: 0;
  }

  header .cart-container .right-col .results {
    margin-top: 40px;
  }
}

